*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}
.nav{
    height:80px;
    background:#ccc9c9ba;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:26px;
    text-align: center;
}

.main{
    min-height:400px;
    background: #b4b4d870;
    padding:30px;
}
.search-button{
    margin-top:40px;
    
}

